.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-6);
  height: var(--layout-header-height);
  width: 100%;
  background-color: var(--secondary-600);
  box-shadow: var(--shadow-xs);
}
