.chip {
  height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-1) var(--space-2);
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--chip-bg-color);
}

.rounded {
  border-radius: var(--radius-pill);
}

.square {
  border-radius: var(--radius-sm);
}
