:root {
  --layout-header-height: 64px;

  /* Colors */

  --base-white: #ffffff;
  --base-black: #0b0a0a;

  --primaryColor: #fec510;
  --secondaryColor: #3d3d3d;
  --tertiary: #0082fa;

  --success: #067c29;
  --error: #e21f2a;
  --warning: #cf4920;
  --orange: #f79133;

  --primary-100: #fff5d7;
  --primary-200: #ffecaf;
  --primary-300: #fed860;
  --primary-400: #fec510;
  --primary-500: #eeb702;
  --primary-600: #967100;

  --secondary-50: #f5f5f5;
  --secondary-100: #e9e9e9;
  --secondary-200: #d4d4d4;
  --secondary-300: #a9a9a9;
  --secondary-400: #7e7e7e;
  --secondary-500: #3d3d3d;
  --secondary-600: #292929;

  --neutral-50: #fcfcfd;
  --neutral-100: #f6f7f8;
  --neutral-200: #eeeff2;
  --neutral-300: #e2e4ea;
  --neutral-400: #c8cbd5;
  --neutral-500: #707275;
  --neutral-600: #434446;

  --tertiary-400: #0082fa;

  --accent-400: #067c29;
  --warning-400: #cf4920;
  --error-400: #e21f2a;

  /* Shadows */

  --shadow-sharp: 0px 1.866px 3.732px rgba(0, 0, 0, 0.1);
  --shadow-xss: 0px 1.866px 3.732px -1.866px rgba(0, 0, 0, 0.1);
  --shadow-xs: 0px 3.732px 7.464px -3.732px rgba(0, 0, 0, 0.1);
  --shadow-s: 0px 7.464px 11.196px -7.464px rgba(0, 0, 0, 0.1);
  --shadow-m: 0px 14.929px 18.661px -11.196px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 46.652px 93.304px -22.393px rgba(0, 0, 0, 0.1);

  /* tokens */

  --color-bg: var(--base-white);
  --color-surface: var(--neutral-50);
  --color-border: var(--secondary-200);

  --color-text: var(--base-black);
  --color-text-muted: var(--neutral-500);

  --color-primary: var(--primary-400);
  --color-primary-hover: var(--primary-500);

  --color-success: var(--accent-400);
  --color-error: var(--error-400);
  --color-warning: var(--warning-400);
  --color-info: var(--tertiary-400);

  /* Spacing */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;

  /* Radius */

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-pill: 999px;

  /* Typography */

  --font-primary: var(--font-sans);
  --font-mono: var(--font-mono);

  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --lh-normal: 1.5;

  /* Layout */

  --container-xs: 480px;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1440px;
  
  --container-padding-x: var(--space-4);
  --container-padding-x-lg: var(--space-6);
}
