.auth-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  margin-top: var(--space-4);
}

.auth-footer button {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}

.desktop-only-wrapper {
  display: none;
}

@media (min-width: 1024px) {
  .desktop-only-wrapper {
    display: contents;
  }
}