.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: var(--space-10) var(--space-6);
}

@media (min-width: 600px) {
  .login-container {
    padding: var(--space-10) var(--space-8);
  }
}

@media (min-width: 960px) {
  .login-container {
    padding: var(--space-10) 130px;
  }
}

@media (min-width: 1280px) {
  .login-container {
    padding: var(--space-10) 400px;
  }
}
