.hexagon {
  width: 32px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-right: -8px;
  transition: transform 0.2s ease;
}

.hexagon:hover {
  transform: translateY(-4px);
  z-index: 10;
}

.initials {
  color: var(--secondary-600) !important;
  font-weight: var(--fw-bold);
  font-size: 10px;
}
